# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

/src/app/actions.ts
# misc
.DS_Store
*.pem
# **/crm-*.actions.ts
/src/app/actions/crm-***.actions.ts
/src/app/actions/calling.actions.ts
/src/app/actions/custom-ecommerce.actions.ts
/src/app/actions/admin.actions.ts
/src/app/actions/catalog.actions.ts
/src/app/actions/billing.actions.ts
/src/app/actions/qr-code.actions.ts
/src/app/actions/contact.actions.ts
/src/app/actions/broadcast.actions.ts
/src/app/actions/email.actions.ts
/src/app/actions/crm-accounting.actions.ts
 /src/app/actions/crm-accounts.actions.ts
 /src/app/actions/crm-automations.actions.ts
/src/app/actions/crm-credit-notes.actions.ts
/src/app/actions/crm-deals.actions.ts
/src/app/actions/crm-delivery-challans.actions.ts
/src/app/actions/crm-email.actions.ts
/src/app/actions/crm-email-templates.actions.ts
/src/app/actions/crm-forms.actions.ts
/src/app/actions/crm-inventory.actions.ts
/src/app/actions/crm-invoices.actions.ts
/src/app/actions/crm-payment-accounts.actions.ts
/src/app/actions/crm-payment-receipts.actions.ts
/src/app/actions/crm-pipelines.actions.ts
/src/app/actions/crm-products.actions.ts
/src/app/actions/crm-quotations.actions.ts
/src/app/actions/crm-reconciliation.actions.ts
/src/app/actions/crm-reports.actions.ts
/src/app/actions/crm-roles.actions.ts
/src/app/actions/crm-sales-orders.actions.ts
/src/app/actions/crm-tasks.actions.ts
/src/app/actions/crm-vendors.actions.ts
/src/app/actions/crm-vouchers.actions.ts
/src/app/actions/crm-warehouses.actions.ts
Ignore all action files by default

# But keep social platform related files
/src/app/actions/facebook.actions.ts
/src/app/actions/facebook-flow.actions.ts
/src/app/actions/instagram.actions.ts
/src/app/actions/whatsapp.actions.ts
/src/components/wabasimplify/whatsapp.actions.ts
!/src/app/actions/index.ts
/src/app/actions/crm-hr.actions.ts
/src/components/wabasimplify/meta-flow-editor/
/src/components/wabasimplify/website-builder/
!/src/app/actions/sabflow.actions.ts


#for now only
/src/lib/cron-scheduler.js
/src/lib/cron-scheduler.ts
/src/lib/broadcast-worker.js
/src/lib/webhook-processor.ts
/workers/
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.genkit/*
.env*

# firebase
firebase-debug.log
firestore-debug.log
src/components/layout/footer.tsx
src/components/layout/header.tsx
src/config/site.ts

/package-lock.json