@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 210 17% 98%;
    --foreground: 210 10% 23%;
    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 134 61% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 134 61% 36%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 132 41% 61%;
    --accent-foreground: 210 10% 23%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 134 61% 41%;
    --chart-1: 134 61% 41%;
    --chart-2: 140 50% 50%;
    --chart-3: 150 40% 60%;
    --chart-4: 285.2 83.2% 53.3%;
    --chart-5: 350.2 83.2% 53.3%;
    --radius: 0.5rem;
    --sidebar-background: 210 10% 23%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 134 61% 41%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 10% 28%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 210 10% 28%;
    --sidebar-ring: 134 61% 41%;
  }
  .dark {
    --background: 210 10% 23%;
    --foreground: 210 40% 98%;
    --card: 210 10% 23%;
    --card-foreground: 210 40% 98%;
    --popover: 210 10% 23%;
    --popover-foreground: 210 40% 98%;
    --primary: 134 61% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 134 61% 36%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 10% 28%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 132 41% 61%;
    --accent-foreground: 210 10% 23%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 10% 28%;
    --input: 210 10% 28%;
    --ring: 134 61% 41%;
    --chart-1: 134 61% 41%;
    --chart-2: 140 50% 50%;
    --chart-3: 150 40% 60%;
    --chart-4: 285.2 83.2% 53.3%;
    --chart-5: 350.2 83.2% 53.3%;
    --sidebar-background: 210 10% 15%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 134 61% 41%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 10% 23%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 210 10% 23%;
    --sidebar-ring: 134 61% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
